:root {
    --main-color: #219150;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
    text-decoration: none;
}

html {
    font-size: 80%;
    scroll-behavior: smooth;
}
/* 
body {
} */

.btn {
    display: inline-block;
    padding: 0.8rem 1rem;
    background-color: transparent;
    border: 2px solid #333;
    color: #333;
    font-weight: 600;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

header {
    margin: auto;
    padding: 1rem 15%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 999;
}

header .header-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container .logo {
    color: #333;
    font-size: 1.7rem;
    font-weight: 600;
    display: flex;
}

.header-container .logo i {
    margin-top: 0.4rem;
    margin-right: 0.7rem;
    font-size: 1.5rem;
    color: var(--main-color);
}

.header-container .logo span {
    color: var(--main-color);
}

.header-container a.active {
    color: var(--main-color);
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--main-color);
    /* border-width: 2px; */
}

/* navbar start */

#navbar .navbar-container {
    background: url("/../img/home-bg-1.jpg") no-repeat;
    text-align: center;
    padding-top: 10rem;
    height: 30rem;
    object-fit: cover;
    background-position: center;
}

#navbar .navbar-container h2 {
    color: #219150;
    font-size: 2rem;
    text-transform: uppercase;
}

#navbar .navbar-container a {
    margin-top: 1rem;
}

/* Posts Start */

#posts .container-posts {
    padding: 3.5rem 0;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#posts .container-posts .layout-posts {
    width: 75%;
}

#posts .container-posts .layout-posts .heading {
    font-size: 2rem;
    color: var(--main-color);
    text-transform: uppercase;
}

#posts .container-posts .layout-posts .box-post {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    position: relative;
}

#posts .container-posts .layout-posts .box-post .content {
    padding: 0.5rem 0;
}

#posts .container-posts .layout-posts .box-post .content h3 a {
    color: #333;
    font-size: 1.3rem;
}

#posts .container-posts .layout-posts .box-post .content p {
    margin-top: 0.2rem;
    font-size: 1rem;
    color: #777;
}

#posts .container-posts .layout-posts .box-post .category {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.4rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#posts .container-posts .box-post img {
    width: 10rem;
    height: 7rem;
    background-position: center;
    background-size: cover;
}

#posts .container-posts .layout-posts .pagination-posts {
    margin: 2rem 0;
    text-align: center;
}

#posts .container-posts .layout-posts .pagination-posts nav ul li {
    display: inline;
}

#posts .container-posts .layout-posts .pagination-posts nav ul li a {
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--main-color);
}

#posts .container-posts .layout-posts .pagination-posts nav ul li.active {
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #333;
}

#posts .container-posts .category-posts {
    width: 20%;
}

#posts .container-posts .category-posts .text {
    text-align: center;
}

#posts .container-posts .category-posts .supp {
    width: 70%;
    display: block;
    margin: auto;
    text-align: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

#posts .container-posts .category-posts .supp.facebook {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 1rem;
    align-items: center;
    background-color: #0d8bf1;
    color: #fff;
}

#posts .container-posts .category-posts .supp.github {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: #24292f;
    color: #fff;
    margin-top: 0.5rem;
}

#posts .container-posts .category-posts .supp .fa-github-square {
    margin-left: -1.4rem;
}

#posts .container-posts .category-posts .supp.instagram {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-top: 0.5rem;
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    color: #fff;
}

#posts .container-posts .category-posts .supp i {
    font-size: 2rem;
}

/* #posts .container-posts .category-posts .supp:hover {
    background-color: #1db95e;
} */

/*  Pagination */
nav .pagination li {
    display: inline-block;
    font-size: 1.5rem;
    color: seagreen;
    /* padding: 0.5rem 1.3rem; */
    width: 3rem;
    height: 3rem;
    padding-top: 3px;
    font-weight: 700;
    border-radius: 50%;
    background: white;
    margin-bottom: 2rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    border: 1px solid seagreen;
}

nav .pagination li.active {
    background: #16a34a;
    color: #fff;
}

/* footer start */

footer {
    background-color: var(--main-color);
    padding: 1rem 15%;
}

footer .container-footer {
    max-width: 1280px;
    margin: auto;
}

footer .container-footer .newsletter {
    text-align: center;
    margin: 1rem 0;
    color: #fff;
}

footer .container-footer .newsletter h2,
h3 {
    font-weight: 500;
}

footer .container-footer .newsletter input {
    padding: 0.7rem 1rem;
    outline: none;
    border: 2px solid white;
    margin: 1rem 0;
}

footer .container-footer .newsletter button {
    padding: 0.7rem 1rem;
    cursor: pointer;
}

footer .container-footer .newsletter a {
    display: block;
    color: #fff;
    margin-top: 3rem;
}

footer .container-footer .newsletter a span {
    color: #222;
}

@media (max-width: 768px) {
    header,
    section {
        padding: 1rem 9%;
    }

    #posts .container-posts .layout-posts {
        width: 100%;
    }

    #posts .container-posts .category-posts {
        display: none;
    }

    #posts .container-posts .layout-posts {
        width: 100%;
    }
}
